In [4]:
import pandas as pd

# Замените 'your_file_path' на путь к вашему файлу
file_path = 'train_dataset_hackaton2023_train.gzip'

# Загрузка данных
data = pd.read_parquet(file_path)
data = data.drop('group_name', axis=1)

In [9]:
# Проверка на пропущенные значения
print(data.isnull().sum())

customer_id             0
date_diff_post    2468517
buy_post                0
group_name              0
revenue                 0
startdatetime           0
dish_name               0
ownareaall_sqm          0
format_name             0
dtype: int64

In [10]:
# Анализ уникальных значений для каждой колонки
for column in data.columns:
    print(f"{column}: {data[column].nunique()} unique values")

customer_id: 500000 unique values
date_diff_post: 61 unique values
buy_post: 2 unique values
group_name: 1 unique values
revenue: 24113 unique values
startdatetime: 2606874 unique values
dish_name: 1038 unique values
ownareaall_sqm: 629 unique values
format_name: 9 unique values

In [11]:
data

,customer_id,date_diff_post,buy_post,group_name,revenue,startdatetime,dish_name,ownareaall_sqm,format_name
0,29891,9.0,1,train,69.99,2022-12-05 12:03:58,Кинг Фри станд,300.0,Отдельно стоящий без внешней зоны
1,29891,9.0,1,train,190.00,2022-12-05 12:03:58,Чикен Тар-Тар,300.0,Отдельно стоящий без внешней зоны
2,29891,9.0,1,train,9.99,2022-12-05 12:03:58,Соус Сырный,300.0,Отдельно стоящий без внешней зоны
3,29891,9.0,1,train,119.99,2022-12-05 12:03:58,Энергет.нап. Адреналин Раш,300.0,Отдельно стоящий без внешней зоны
4,29891,9.0,1,train,119.99,2022-12-05 14:28:35,Латте (СТАНД.),300.0,Отдельно стоящий без внешней зоны
...,...,...,...,...,...,...,...,...,...
24261974,46661804,NaN,0,train,7.99,2023-08-01 18:04:56,"Эвервесс Кола джун 0,3л",300.0,Фудкорт с туалетом
24261975,46661804,NaN,0,train,84.98,2023-08-01 18:04:56,Воппер Джуниор,300.0,Фудкорт с туалетом
24261976,46661804,NaN,0,train,70.03,2023-08-01 18:04:56,Наггетсы (3 шт.),300.0,Фудкорт с туалетом
24261977,46661804,NaN,0,train,19.00,2023-08-01 18:04:56,Сырные Медальоны (3 шт.),300.0,Фудкорт с туалетом
24261978,46661804,NaN,0,train,17.99,2023-08-01 18:04:56,Кинг Фри мал,300.0,Фудкорт с туалетом

In [6]:
from sklearn.preprocessing import OneHotEncoder

# Create an instance of the OneHotEncoder
encoder = OneHotEncoder()

# Fit and transform the specified columns
encoded_columns = encoder.fit_transform(data[columns])

# Do this:
encoded_df = pd.DataFrame.sparse.from_spmatrix(encoded_columns, columns=encoder.get_feature_names_out(columns))

# Concatenate the encoded dataframe with the original dataframe
data_encoded = pd.concat([data, encoded_df], axis=1)

# Display the encoded dataframe
data_encoded

:

| Название        | Описание                   | Тип переменной | Комментарий                  |
|-----------------|----------------------------|----------------|------------------------------|
| customer_id     | Идентификатор клиента      | int            |                              |
| group_name      | Группа: train - test       |                | обучение - контроль          |
| revenue         | Выручка от продажи блюда    | float          | в заказе                     |
| startdatetime   | Дата и время продажи       | datetime       |                              |
| dish_name       | Название блюда             | string         |                              |
| ownareaall_sqm  | Площадь ресторана          | float          |                              |
| format_name     | Формат ресторана           |                |                              |
| buy_post        | Таргет 1: флаг оттока      | bool           | Только в train данных        |
| date_diff_post  | Таргет 2: количество дней   | int            | между последней покупкой в   |
|                 | между последней покупкой   |                | прошлом и первой в будущем   |
|                 | в прошлом и первой в        |                |                              |
|                 | будущем                    |                |                              |

In [6]:
import plotly.express as px

correlation_matrix = data.corr()
fig = px.imshow(correlation_matrix)
fig.show()

ValueError: could not convert string to float: 'train'